@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        min-height: 100vh;
        font-family: "Creepster", system-ui;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }
}

.green-background {
    background-color: rgb(136, 226, 59);
}

.blue-background {
    background-color: rgb(166, 204, 204);
}